<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>관리자 메인 화면</title>
        <link rel="stylesheet" href="../../resources/css/Manager-DefaultCSS.css">
        <link rel="stylesheet" href="../../resources/css/Manager-main.css">
        <script src ="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- 부트스트랩 -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <!-- 차트 링크 -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</head>
<body>
    <header>
        <div id="main-nav" class="clearfix">
            <div class="m-logo">
                <a href="#" class="m-logo-link"><img src="../../resources/images/logo.png" alt="로고"></a>
            </div>
        <div class="m-menu-nav">
            <div class="list">
                <ul>
                    <li><a href="">관리자 메인</a></li>
                    <li><a href="../Manager/Manager_Reservation.html">예약·결제 관리</a></li>
                    <li><a href="">게시판 관리</a></li>
                    <li><a href="">업체 관리</a></li>
                    <li><a href="">회원 관리</a></li>
                    <li><a href="">매출 관리</a></li>
                    <li><a href="">통계 관리</a></li>
                </ul>
            </div>
            <div class="login-area">
                <label class="login-name">관리자 님의 방문을 환영합니다.</label>
				<div class="logoutBtn" onclick="logout()">로그아웃</div> 
            </div>
        </div>
    </div>
</header>

<main id="main">
    <div id="main-wrapper">
        <div class="main-content">
            <div class="sub-menu">
                <div class="sub-list">
                    <p>관리자 화면</p>
                    <ul>
                        <li><a href="">· 메인 화면</a></li>
                        <li><a href="">· 메인 화면</a></li>
                    </ul>
                </div>
            </div>
            <div class="content">
                <div class="statistics">

                    <div class="sales_trend graph-box">
                        <div class="sales_name">
                            <label class="t1">DAILY</label>
                            <label class="t2">매출 분석</label>
                            <label class="t3">(단위 : 천원)</label>
                            <div class="container" style=" padding-left: 0;">
                                <canvas id="myChart1"></canvas>
                            </div>
                            <!-- 차트 -->
                            <script>
                                var ctx = document.getElementById('myChart1');
                                var myChart1 = new Chart(ctx, {
                                    type: 'bar',
                                    data: {
                                        labels: ['8/20', '8/21', '8/22', '8/23', '8/24', '8/25','8/27','8/28','8/29','8/30','8/31'],
                                        datasets: [{
                                            label: '일 매출(천원)',
                                            data: [1200, 1900, 300, 500, 700, 300,400,700,200,800,1030],
                                            backgroundColor: ['#1E344E','#1E344E','#1E344E','#1E344E','#1E344E','#1E344E','#1E344E','#1E344E','#1E344E','#1E344E','#1E344E'],
                                            borderColor: ['#1E344E','#1E344E','#1E344E','#1E344E','#1E344E','#1E344E','#1E344E','#1E344E','#1E344E','#1E344E','#1E344E'],
                                            borderWidth: 1
                                        }]
                                    },
                                    options: {
                                        scales: {
                                            yAxes: [{
                                                ticks: {
                                                    beginAtZero: true
                                                }
                                            }]
                                        }
                                    }
                                });
                            </script>
                        </div>
                        <div class="more_details">
                            <a href="">> 더보기</a>
                        </div>
                    </div>

                    <div class="graph-box">
                        <div class="sales_name">
                            <label class="t1">MONTHlY</label>
                            <label class="t2">매출 분석</label>
                            <label class="t3">(단위 : 천원)</label>
                            <div class="container" style=" padding-left: 0;">
                                <canvas id="myChart2"></canvas>
                            </div>
                            <!-- 차트 -->
                            <script>
                                var ctx = document.getElementById('myChart2');
                                var myChart2 = new Chart(ctx, {
                                    type: 'bar',
                                    data: {
                                        labels: ['19/9','19/10','19/11','19/12','20/1', '20/2', '20/3', '20/4', '20/5','20/6','20/7','20/8'],
                                        datasets: [{
                                            label: '월별 매출(천원)',
                                            data: [34200, 29300, 19300, 32500, 21700, 42300, 23900,31700,36200,47800,51030,49820],
                                            backgroundColor: ['#1E344E','#1E344E','#1E344E','#1E344E','#1E344E','#1E344E','#1E344E','#1E344E','#1E344E','#1E344E','#1E344E','#1E344E'],
                                            borderColor: ['#1E344E','#1E344E','#1E344E','#1E344E','#1E344E','#1E344E','#1E344E','#1E344E','#1E344E','#1E344E','#1E344E','#1E344E'],
                                            borderWidth: 1
                                        }]
                                    },
                                    options: {
                                        scales: {
                                            yAxes: [{
                                                ticks: {
                                                    beginAtZero: true
                                                }
                                            }]
                                        }
                                    }
                                });
                            </script>
                        </div>
                        <div class="more_details">
                            <a href="">> 더보기</a>
                        </div>
                    </div>

                    <div class="visitor_trend graph-box">
                        <div class="visitor_name">
                            <label class="t1">VISITOR</label>
                            <label class="t2">방문자 추이</label>
                            <label class="t3">(단위 : 명)</label>
                            <div class="container" style=" padding-left: 0;">
                                <canvas id="myChart3"></canvas>
                            </div>
                            <!-- 차트 -->
                            <script>
                                var ctx = document.getElementById('myChart3');
                                var myChart3 = new Chart(ctx, {
                                    type: 'bar',
                                    data: {
                                        labels: ['8/20', '8/21', '8/22', '8/23', '8/24', '8/25','8/27','8/28','8/29','8/30','8/31'],
                                        datasets: [{
                                            label: '방문자(명)',
                                            data: [423, 563, 834, 463, 245, 262, 377,927,924,562,456],
                                            backgroundColor: ['#1E344E','#1E344E','#1E344E','#1E344E','#1E344E','#1E344E','#1E344E','#1E344E','#1E344E','#1E344E','#1E344E'],
                                            borderColor: ['#1E344E','#1E344E','#1E344E','#1E344E','#1E344E','#1E344E','#1E344E','#1E344E','#1E344E','#1E344E','#1E344E'],
                                            borderWidth: 1
                                        }]
                                    },
                                    options: {
                                        scales: {
                                            yAxes: [{
                                                ticks: {
                                                    beginAtZero: true
                                                }
                                            }]
                                        }
                                    }
                                });
                            </script>
                        </div>
                        <div class="more_details">
                            <a href="">> 더보기</a>
                        </div>
                    </div>
                </div>
                <div class="current_situation ">
                    <div class="situation_box">
                        <div class="tables">
                            <table>
                                <tr>
                                    <td class="sb_lb">신규 예약</td>
                                    <td class="count">5건</td>
                                </tr>
                                <tr>
                                    <td class="sb_lb">입금 대기</td>
                                    <td class="count">5건</td>
                                </tr>
                                <tr>
                                    <td class="sb_lb">입금 완료</td>
                                    <td class="count">5건</td>
                                </tr>
                            </table>
                        </div>
                        <div class="tables">
                            <table>
                                <tr>
                                    <td class="sb_lb">취소 요청</td>
                                    <td class="count">5건</td>
                                </tr>
                                <tr>
                                    <td class="sb_lb">취소대기</td>
                                    <td class="count">5건</td>
                                </tr>
                                <tr>
                                    <td class="sb_lb">취소 완료</td>
                                    <td class="count">5건</td>
                                </tr>
                            </table>
                        </div>
                        <div class="tables">
                            <table>
                                <tr>
                                    <td class="sb_lb">고객 문의</td>
                                    <td class="count">5건</td>
                                </tr>
                                <tr>
                                    <td class="sb_lb">입점 문의</td>
                                    <td class="count">5건</td>
                                </tr>
                                <tr>
                                    <td class="sb_lb"></td>
                                    <td class="count"></td>
                                </tr>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
                <div class="empty">
                <br><br><br>
                </div>
        </div>
    </div>
</main>
<footer id="footer">
    <div id="foot">
        <p style="color: rgb(131, 131, 131);">Copyright © 1998-2020 KH Information Educational Institute All Right Reserved</p>
    </div>
</footer>
</body>
</html>