<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>관리자 메인 화면</title>
    <link rel="stylesheet" href="../../resources/css/Manager-list.css">
    <link rel="stylesheet" href="../../resources/css/Manager-DefaultCSS.css">
</head>
<body>
    <header>
        <div id="main-nav" class="clearfix">
            <div class="m-logo">
                <a href="#" class="m-logo-link"><img src="../../resources/images/logo.png" alt="로고"></a>
            </div>
        <div class="m-menu-nav">
            <div class="list">
                <ul>
                    <li><a href="">관리자 메인</a></li>
                    <li><a href="">예약·결제 관리</a></li>
                    <li><a href="">게시판 관리</a></li>
                    <li><a href="">업체 관리</a></li>
                    <li><a href="">회원 관리</a></li>
                    <li><a href="">매출 관리</a></li>
                    <li><a href="">통계 관리</a></li>
                </ul>
            </div>
            <div class="login-area">
                <label class="login-name">관리자 님의 방문을 환영합니다.</label>
				<div class="logoutBtn" onclick="logout()">로그아웃</div> 
            </div>
        </div>
    </div>
</header>

<main id="main">
    <div id="main-wrapper">
        <div class="main-content">
            <div class="sub-menu">
                <div class="sub-list">
                    <p>예약.결제관리</p>
                    <ul>
                        <li><a href="">· 전체 매출 상세</a></li>
                        <li><a href="">· 호텔별 매출 상세</a></li>
                        <li><a href="">· 고객별 매출 상세</a></li>
                    </ul>
                </div>
            </div>
            <div class="content">
                <div class="reservationTable">
                    <p style="font-size: 30px; font-weight: 500px; margin-bottom: 10px;">호텔별 매출 상세</p>
                    <div class="searchPot"> </div>
                    <div class="filter-block">
                        <select name="filter" id="filter">
                            <option value="hotel">호텔 명</option>
                            <option value="hotelnum">호텔 번호</option>
                            <option value="hoteltype">호텔 타입</option>
                            <option value="location">지역</option>
                        </select>
                    </div>

                    <div class="reservationList">
                        <table class="detailedTable">
                            <th class="listTitle">일 평균 매출</th>
                            <th class="listTitle">월 평균 매출</th>
                            <th class="listTitle">호텔 타입 ▲</th>
                            <th class="listTitle">지역 ▲</th>
                            <th class="listTitle">당일매출 ▲</th>
                            <th class="listTitle">일 평균매출 ▲</th>
                            <th class="listTitle">월 평균 매출 ▲</th>
                            <th class="listTitle">등록일 ▲</th>
                            <th class="listTitle">?</th>

                            <tr class="listCal">
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                            </tr>
                            <tr class="listCal">
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                            </tr>
                            <tr class="listCal">
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                            </tr>
                            <tr class="listCal">
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                            </tr>
                            <tr class="listCal">
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                            </tr>
                            <tr class="listCal">
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                            </tr>
                            <tr class="listCal">
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                            </tr>
                            
                            
                        </table>
                    </div>
                </div>

                <div class="empty">
                    <br><br><br>
                </div>
            </div>
        </div>
    </div>
</main>
<footer id="footer">
    <div id="foot">
        <p style="color: rgb(131, 131, 131);">Copyright © 1998-2020 KH Information Educational Institute All Right Reserved</p>
    </div>
</footer>
</body>
</html>