<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>회원 정보 수정</title>
        <link rel="stylesheet" href="../../resources/css/Manager-DefaultCSS.css">
        <link rel="stylesheet" href="../../resources/css/Manager_client_search.css">
    </head>
    <body>
        <header>
            <div id="main-nav" class="clearfix">
                <div class="m-logo">
                    <a href="#" class="m-logo-link"><img src="../../resources/images/logo.png" alt="로고"></a>
                </div>
            <div class="m-menu-nav">
                <div class="list">
                    <ul>
                        <li><a href="">관리자 메인</a></li>
                        <li><a href="../Manager/Manager_Reservation.html">예약·결제 관리</a></li>
                        <li><a href="">게시판 관리</a></li>
                        <li><a href="">업체 관리</a></li>
                        <li><a href="">회원 관리</a></li>
                        <li><a href="">매출 관리</a></li>
                        <li><a href="">통계 관리</a></li>
                    </ul>
                </div>
                <div class="login-area">
                    <label class="login-name">관리자 님의 방문을 환영합니다.</label>
                    <div class="logoutBtn" onclick="logout()">로그아웃</div> 
                </div>
            </div>
        </div>
    </header>
    <main id="main">
        <div id="main-wrapper">
            <div class="main-content">
                <div class="sub-menu">
                    <div class="sub-list">
                        <p>회원 관리</p>
                        <ul>
                            <li>· 고객 현황</li>
                            <li>· 고객 문의</li>
                            <li>· 회원 정보 수정</li> 
                        </ul>
                    </div>
                </div>
                <div class="content">
                    <p class="titleText">회원 검색</p>
                    <div class="colorbar"></div>
                    <div class="search-block">
                        <table class="search-table">
                            <tbody>
                                <tr>
                                    <th>검색종류</th>
                                    <td>
                                        <select name="searchtype" id="searchtype">
                                            <option value="userName">회원명</option>
                                            <option value="userCode">회원번호</option>
                                            <option value="userId">아이디</option>
                                            <option value="any">아무거나</option>
                                        </select>
                                        <input type="text" value="" >
                                    </td>
                                </tr>
                                <tr>
                                    <th>나이</th>
                                    <td><input class="twoNumber" type="text" name="" id="">세 ~ <input class="twoNumber" type="text" name="" id="">세</td>
                                </tr>
                                <tr>
                                    <th>성별</th>
                                    <td>
                                        <input type="radio" name="gender" id="man">남
                                        <input type="radio" name="gender" id="wemen">여
                                        <input type="radio" name="gender" id="both">전체
                                    </td>
                                </tr>
                                <tr>
                                    <th>가입일</th>
                                    <td>
                                        <input type="date" name="" id="">~
                                        <input type="date" name="" id="">

                                        탈퇴 여부 <input type="text" style="width: 30px;">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <input type="button" value="회원 검색" style="float: right; margin-top: 10px;">
                    </div>    
                    <div class="result-block">
                        <div id="result-table">
                            <table>
                                <tr>
                                    <th id="check"></th>
                                    <th id="num">회원번호</th>
                                    <th id="name">회원명</th>
                                    <th id="userId">아이디</th>
                                    <th id="witer">나이</th>
                                    <th id="age">성별</th>
                                    <th id="day">가입일</th>
                                    <th id="statment">상태</th>
                                </tr>
                                 <tr>
                                    <td><input type="checkbox" name="check" id=""></td>
                                    <td>123</td>
                                    <td>123</td>
                                    <td><a href=""> cdi05</a></td>
                                    <td>홍길동</td></a>
                                    <td>남</td>
                                    <td>2014-11-15</td>
                                    <td>정상</td>
                                 </tr>
                                 <tr>
                                    <td><input type="checkbox" name="check" id=""></td>
                                    <td>123</td>
                                    <td>123</td>
                                    <td><a href=""> lisd2342</a></td>
                                    <td>홍길동</td></a>
                                    <td>남</td>
                                    <td>2014-11-15</td>
                                    <td>탈퇴</td>
                                 </tr>
                                 <tr>
                                    <td><input type="checkbox" name="check" id=""></td>
                                    <td>123</td>
                                    <td>123</td>
                                    <td><a href=""> aiik12</a></td>
                                    <td>김지수</td></a>
                                    <td>여</td>
                                    <td>2014-11-15</td>
                                    <td>정상</td>
                                 </tr>
                            </table>
                    </div>
                </div>
            </div>    
        </div>        
        </main>
              
    </body>
</html>