<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>관리자 메인 화면</title>
    <link rel="stylesheet" href="../../resources/css/Manager-DefaultCSS.css">
    <link rel="stylesheet" href="../../resources/css/Manager-company-detail.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>
<body>
    <header>
        <div id="main-nav" class="clearfix">
            <div class="m-logo">
                <a href="#" class="m-logo-link"><img src="../../resources/images/logo.png" alt="로고"></a>
            </div>
        <div class="m-menu-nav">
            <div class="list">
                <ul>
                    <li><a href="">관리자 메인</a></li>
                    <li><a href="">예약·결제 관리</a></li>
                    <li><a href="">게시판 관리</a></li>
                    <li><a href="">업체 관리</a></li>
                    <li><a href="">회원 관리</a></li>
                    <li><a href="">매출 관리</a></li>
                    <li><a href="">통계 관리</a></li>
                </ul>
            </div>
            <div class="login-area">
                <label class="login-name">관리자 님의 방문을 환영합니다.</label>
				<div class="logoutBtn" onclick="logout()">로그아웃</div> 
            </div>
        </div>
    </div>
</header>

<main id="main">
    <div id="main-wrapper">
        <div class="main-content">
            <div class="sub-menu">
                <div class="sub-list">
                    <p>업체 관리</p>
                    <ul>
                        <li><a href="./Manager_company.html">· 전체 업체 목록</a></li>
                        <li><a href="./Manager_company_enrollForm.html">· 업체 등록</a></li>
                    </ul>
                </div>
            </div>
             <!-- 여기에 메인 컨텐츠 넣으면 됩니다. -->    
            <div class="content">
                <div class="reservationTable">
                    <p style="font-size: 30px; font-weight: 500px; margin-bottom: 10px;">업체 상세</p>
                    <div class="searchPot"></div>
                    <div class="detailCom">
                        <table border="1">
                            <tr>
                                <th>업체 번호</th>
                                <td>
                                    <%= c.getComNum() %>
                               	</td>
                            </tr>
                            <tr>
                                <th>업체 분류</th>
                                <td>
                                    <%= c.getCategory() %>
                                </td>
                            </tr>
                            <tr>
                                <th>사업자번호</th>
                                <td>
                                    <%= c.getcNum() %>
                                </td>
                            </tr>
                            <tr>
                                <th>기업 형태</th>
                                <td>
                                    <%= c.getCorp() %>
                                </td>
                            </tr>
                            <tr>
                                <th>업체 명</th>
                                <td>
                                    <%= c.getcName() %>
                                </td>
                            </tr>
                            <tr>
                                <th>업체 등록 일</th>
                                <td>
                                    <%= c.getEnrollDate() %>
                                </td>
                            </tr>
                            <tr>
								<th>업체 주소</th>
								<td>
                                    <%= c.getAddress() %>
                               </td>
							</tr>
                            <tr>
								<th>업체 연락처</th>
								<td>
                                    <%= c.getTel() %>
                               </td>
							</tr>
                            <tr>
                                <th>대표자</th>
                                <td>
                                    <%= c.getrName1() %>
                                </td>
                            </tr>
                            <tr>
                                <th>담당자</th>
                                <td>
                                	<%= c.getrName1() %>
                                </td>
                            </tr>
                            <tr>
                                <th>담당자 연락처</th>
                                <td>
                                    <%= c.getPhone() %>
                                </td>
                            </tr>
                            <tr>
                                <th>담당자 이메일</th>
                                <td>
                                    <%= c.getEmail() %>
                                </td>
                            </tr>
                            <tr>
                                <th>은행명</th>
                                <td>
                                    <%= c.getBankName() %>
                                </td>
                            </tr>
                            <tr>
                                <th>예금주</th>
                                <td>
                                    <%= c.getHolder() %>
                                </td>
                            </tr>
                            <tr>
                                <th>계좌번호</th>
                                <td>
                                    <%= c.getAccount() %>
                                </td>
                            </tr>
                            <tr>
								<th>등록 상태</th>
								<td>
									<%= c.getState() %>
								</td>
							</tr>
                        </table>
                    </div>
                    <div class="empty">
                        <br>
                    </div>
                    <div class="btns">
                        <!-- <input type="button" value="새 업체 등록" class="enrollBtn" onclick="window.open('URL', '_blank', 'width=730, height=750, toolbar=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no');"> -->
                        <input type="button" value="이전" class="preBtn" onclick="history.back(-1);">
                        <input type="submit" value="내용 수정" class="subBtn" onclick="location.href='Manager_company_editForm.html'">
                        <!-- <input type="button" value="업체 삭제" class="deleteBtn" onclick="alert('해당 업체 삭제가 완료되었습니다. ')"> -->
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer id="footer">
    <div id="foot">
        <p style="color: black;">Copyright © 1998-2020 KH Information Educational Institute All Right Reserved</p>
    </div>
</footer>
</body>
</html>