<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>회원 정보 수정</title>
        <link rel="stylesheet" href="../../resources/css/Manager-DefaultCSS.css">
        <link rel="stylesheet" href="../../resources/css/Manager_Modification.css">
    </head>
    <body>
        <header>
            <div id="main-nav" class="clearfix">
                <div class="m-logo">
                    <a href="#" class="m-logo-link"><img src="../../resources/images/logo.png" alt="로고"></a>
                </div>
            <div class="m-menu-nav">
                <div class="list">
                    <ul>
                        <li><a href="">관리자 메인</a></li>
                        <li><a href="../Manager/Manager_Reservation.html">예약·결제 관리</a></li>
                        <li><a href="">게시판 관리</a></li>
                        <li><a href="">업체 관리</a></li>
                        <li><a href="">회원 관리</a></li>
                        <li><a href="">매출 관리</a></li>
                        <li><a href="">통계 관리</a></li>
                    </ul>
                </div>
                <div class="login-area">
                    <label class="login-name">관리자 님의 방문을 환영합니다.</label>
                    <div class="logoutBtn" onclick="logout()">로그아웃</div> 
                </div>
            </div>
        </div>
    </header>
    <main id="main">
        <div id="main-wrapper">
            <div class="main-content">
                <div class="sub-menu">
                    <div class="sub-list">
                        <p>회원 관리</p>
                        <ul>
                            <li>· 고객 현황</li>
                            <li>· 고객 문의</li>
                            <li>· 회원 정보 수정</li> 
                        </ul>
                    </div>
                </div>
                <div id="tag"><label id="tagTitle">회원 정보 수정</label> 
                    <label class="caution">*</label><label id="tagNotice">필수정보입력</label></div>
    
                <div id="showbox">
                    <div>
                        <table>
                            <tr id="innerTop">
                                <td>
                                    <div class="showList">
                                        <ul class="list1">
                                            <li>아이디</li>
                                            <li> <label class="caution">*</label> 비밀번호</li>
                                            <li> <label class="caution">*</label> 비밀번호 확인</li>
                                            <li>이름</li>
                                            <li>주민번호</li>
                                            <li>  <label class="caution">*</label> 연락처</li>
                                        </ul>
                                    </div>
                                </td>
    
                                <td>
                                    <div class="showRecode">
                                        <ul class="list2">
                                            <li><input type="text" name="" id="id" placeholder="아이디"></li>
                                            <li><input type="text" name="" id="password"></li>
                                            <li><input type="text" name="" id="passwordCheck"></li>
                                            <li><input type="text" name="" id="name"></li>
                                            <br>
                                            <li><input type="text" name="" id="ssn1" class="ssn"> - 
                                                <input type="text" name="" id="ssn2" class="ssn">
                                            </li>
                                            <br>
                                            <li style="margin-bottom: 15px;"><input type="text" name="" id="phone1" class="pNum"> - 
                                                <input type="text" name="" id="phone2" class="pNum"> - 
                                                <input type="text" name="" id="phone3" class="pNum"></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="showList">
                                        <ul class="list1">
                                            <li>주소</li>
                                            <br><br>
                                            <li>이메일</li>
                                        </ul>
                                    </div>
                                </td>
    
                                <td>
                                    <div class="showRecode">
                                        <ul class="list2">
                                            <li><input type="text" name="zib" id="address1" class="adr"> - 
                                                <input type="text" name="addr1" id="address2" class="adr"> 
                                                <input type="button" class="postbtn" value="우편주소 검색" onclick="openZipSearch()">
                                            </li>
                                            <li><input type="text" name="addr2" id="address3" class="detailAdr"></li>
                                            <li><input type="text" name="" id="address4" class="detailAdr" placeholder="상세주소 입력"></li>
                                            <li><input type="text" name="" id="email1" class="email"> @
                                                <input type="text" name="" id="email2" class="email" >
                                            </li>
                                        </ul>
                                    </div>
    
                                </td>
    
                            </tr>                        
                        </table>
                    </div>
    
                    <div id="decisionButton">
                        <a href="#ex1"><input type="button" value="수정하기" id="btn1"> </a>
                        <a href="../views/mypage-basic.html"><input type="button" value="취소" id="btn2" > </a>
                    </div>
                    
            </div>

            
           
                </div>

                <div id="decisionButton">
                    <a href="#ex1"><input type="button" value="수정하기" id="btn1"> </a>
                    <a href="../views/mypage-basic.html"><input type="button" value="취소" id="btn2" > </a>
                </div>
                
                
            </div>
            <div id="emptyPlace">
                <img src="" alt="">
            </div>
        </main>
              
    </body>
</html>