<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>관리자 메인 화면</title>
    <link rel="stylesheet" href="../../resources/css/Manager-DefaultCSS.css">
    <link rel="stylesheet" href="../../resources/css/Manager_client_detail.css">
</head>
<body>
    <header>
        <div id="main-nav" class="clearfix">
            <div class="m-logo">
                <a href="#" class="m-logo-link"><img src="../../resources/images/logo.png" alt="로고"></a>
            </div>
        <div class="m-menu-nav">
            <div class="list">
                <ul>
                    <li><a href="">관리자 메인</a></li>
                    <li><a href="">예약·결제 관리</a></li>
                    <li><a href="">게시판 관리</a></li>
                    <li><a href="">업체 관리</a></li>
                    <li><a href="">회원 관리</a></li>
                    <li><a href="">매출 관리</a></li>
                    <li><a href="">통계 관리</a></li>
                </ul>
            </div>
            <div class="login-area">
                <label class="login-name">관리자 님의 방문을 환영합니다.</label>
				<div class="logoutBtn" onclick="logout()">로그아웃</div> 
            </div>
        </div>
    </div>
</header>

<main id="main">
    <div id="main-wrapper">
        <div class="main-content">
            <div class="sub-menu">
                <div class="sub-list">
                    <p>회원 관리</p>
                    <ul>
                        <li>· 고객 현황</li>
                        <li>· 고객 문의</li>
                        <li>· 회원 정보 수정</li> 
                    </ul>
                </div>
            </div>
            <div class="content">
                <div class="reservationTable">
                    <p style="font-size: 30px; font-weight: 500px; margin-bottom: 10px;">회원 상세 정보</p>
                    <div class="searchPot"> </div>
                  
                </div>

                <div class="client-data-block">
                    <table class="data-table">
                        <tbody>
                            <tr>
                                <th>회원 번호</th>
                                <th colspan="2">회원명</th>
                                <th>회원가입일</th>
                                <th></th>
                                <th>회원상태</th>
                               
                            </tr>
                            <tr>
                                <td>D2930</td>
                                <td colspan="2">김민우</td>
                                <td>2018-12-11</td>
                                <td>-</td>
                                <td>일반</td>
                             
                            </tr>
                            <tr>
                                <th>주소</th>
                                <th></th>
                                <th>생년월일</th>
                                <th></th>
                                <th>성별</th>
                                <th></th>
                            </tr>
                            <tr>
                                <td>인천시</td>
                                <td>-</td>
                                <td>951113</td>
                                <td>-</td>
                                <td>남</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <th>상세주소</th>
                                <th></th>
                                <th>이메일</th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            <tr>
                                <td>원적로 361 한화1단지아파트 104-203</td>
                                <td>-</td>
                                <td>godeeif23@gmail.com</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <th>방문(회)</th>
                                <th>연간 예약(회)</th>
                                <th>총 예약(회)</th>
                                <th>총 결제(원)</th>
                                <th></th>
                                <th></th>
                            </tr>
                            <tr>
                                <td>132</td>
                                <td>3</td>
                                <td>5</td>
                                <td>1,020,300</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="empty">
                    <br>
                </div>
                <div class="btns">
                    <input type="button" value="이전" class="preBtn" onclick="history.back(-1);">
                    <input type="submit" value="회원 삭제" class="deleteBtn" onclick="alert('회원 정보가 삭제되었습니다. ')">
                </div>
            </div>
        </div>
    </div>
</main>
<footer id="footer">
    <div id="foot">
        <p style="color: rgb(131, 131, 131);">Copyright © 1998-2020 KH Information Educational Institute All Right Reserved</p>
    </div>
</footer>
</body>
</html>