<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>예약 결제관리</title>
    <link rel="stylesheet" href="../../resources/css/Manager-DefaultCSS.css">
    <link rel="stylesheet" href="../../resources/css/Manager_Reservation.css">
</head>
<body>
    <header>
        <div id="main-nav" class="clearfix">
            <div class="m-logo">
                <a href="#" class="m-logo-link"><img src="../../resources/images/logo.png" alt="로고"></a>
            </div>
        <div class="m-menu-nav">
            <div class="list">
                <ul>
                    <li><a href="">관리자 메인</a></li>
                    <li><a href="../Manager/Manager_Reservation.html">예약·결제 관리</a></li>
                    <li><a href="">게시판 관리</a></li>
                    <li><a href="">업체 관리</a></li>
                    <li><a href="">회원 관리</a></li>
                    <li><a href="">매출 관리</a></li>
                    <li><a href="">통계 관리</a></li>
                </ul>
            </div>
            <div class="login-area">
                <label class="login-name">관리자 님의 방문을 환영합니다.</label>
				<div class="logoutBtn" onclick="logout()">로그아웃</div> 
            </div>
        </div>
    </div>
</header>

<main id="main">
    <div id="main-wrapper">
        <div class="main-content">
            <div class="sub-menu">
                <div class="sub-list">
                    <p>회원 관리</p>
                    <ul>
                        <li class="page_nav">· 고객 현황</li>
                        <li class="page_nav">· 고객 문의</li>
                        <li class="page_nav">· 회원 정보 수정</li> 
                    </ul>
                </div>
            </div>
            <!-- 여기에 메인 컨텐츠 넣으면 됩니다. -->
                  
            <div id="reviewContent">
                <div id="inquiry">
                    <p>문의처리</p>
                    <label class="Email">이메일</label>
                </div>
                <div id="content">문의 내역</div>
                
                <div id="message">
                    <label >회신 메세지</label>
                    <div id="comment">
                            <div id="content"></div>
                            <input type="button" value="삭제" class="comentbtn" onclick="confirm('삭제하시겠습니까?')" id="review_delete">
                            <input type="button" value="수정" class="comentbtn" onclick="confirm('수정하시겠습니까?')" id="review_update">
                    </div>
                    <div id="answer">
                        <h3>답장하기</h3>
                        <textarea cols="30" rows="10"></textarea>
                        <input type="button" value="답장하기" id="answerbtn">
                    </div>
                </div>     
</body>
</html>