<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>관리자 메인 화면</title>
    <link rel="stylesheet" href="../../resources/css/Manager-DefaultCSS.css">
    <link rel="stylesheet" href="../../resources/css/Manager-company.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>
<body>
    <header>
        <div id="main-nav" class="clearfix">
            <div class="m-logo">
                <a href="#" class="m-logo-link"><img src="../../resources/images/logo.png" alt="로고"></a>
            </div>
        <div class="m-menu-nav">
            <div class="list">
                <ul>
                    <li><a href="">관리자 메인</a></li>
                    <li><a href="">예약·결제 관리</a></li>
                    <li><a href="">게시판 관리</a></li>
                    <li><a href="">업체 관리</a></li>
                    <li><a href="">회원 관리</a></li>
                    <li><a href="">매출 관리</a></li>
                    <li><a href="">통계 관리</a></li>
                </ul>
            </div>
            <div class="login-area">
                <label class="login-name">관리자 님의 방문을 환영합니다.</label>
				<div class="logoutBtn" onclick="logout()">로그아웃</div> 
            </div>
        </div>
    </div>
</header>

<main id="main">
    <div id="main-wrapper">
        <div class="main-content">
            <div class="sub-menu">
                <div class="sub-list">
                    <p>업체 관리</p>
                    <ul>
                        <li><a href="./Manager_company.html">· 전체 업체 목록</a></li>
                        <li><a href="./Manager_company_enrollForm.html">· 업체 등록</a></li>
                    </ul>
                </div>
            </div>
             <!-- 여기에 메인 컨텐츠 넣으면 됩니다. -->    
            <div class="content">
                <div class="reservationTable">
                    <p style="font-size: 30px; font-weight: 500px; margin-bottom: 10px;">전체 업체 목록</p>
                    <div class="searchPot"></div>
                    
                    <div class="searchCompany">
						<select id="searchCondition" name="searchCondition">
							<option value="">---</option>
							<option value="cName">업체명</option>
							<option value="category">업체분류</option>
							<option value="comNum">업체번호</option>
							<option value="address">주소</option>
							<option value="state">등록상태</option>
							<option value="enrollDate">등록일</option>
							<!-- <option value="address">업체주소</option> -->
							<option value="cNum">사업자번호</option>
							<option value="corp">기업형태</option>
							<option value="phone">연락처</option>
							<option value="email">이메일</option>
							<option value="bankName">은행명</option>
						</select>
						<input type="search" id="keyword" placeholder="키워드를 입력하세요">
						<button type="button" onclick="search();">검색</button>
					</div>
                    <div class="btns">
                        <input type="button" value="업체 등록" class="enrollBtn" onclick="location.href='views/Manager/Manager_company_enrollForm.jsp'">
                        <!-- <input type="button" value="업체 삭제" class="deleteBtn" onclick="alert('해당 업체 삭제가 완료되었습니다. ')"> -->
                    </div> 
       			<table id="listArea">
                    <tr>
	                    <!-- <th id="check"></th> -->
                        <th id="comNum">업체번호</th>
                        <th id="category">업체분류</th>
                        <th id="cName">업체명</th>
                        <th id="address">주소</th>
                        <th id="corp">기업형태</th>
                        <th id="cNum">사업자번호</th>
                        <th id="enrollDate">등록일</th>
                        <th id="phone">연락처</th>
                        <th id="email">이메일</th>
                        <th id="bankName">은행명</th>
                        <th id="state">등록상태</th>
                        <!-- <th id="address">업체주소</th> --> 
					</tr>
					<tr>
						<td>1</td>
						<td>1</td>
						<td>1</td>
						<td>1</td>
						<td>1</td>
						<td>1</td>
						<td>1</td>
						<td>1</td>
						<td>1</td>
						<td>1</td>
						<td>1</td>
					</tr>
				</table>
				
                        <div class="empty">
                            <br><br><br>
                        </div>
                        <div id="next">
                            <ul>
                                <a href=""><li><</li></a>
                                <a href=""><li>1</li></a>
                                <a href=""><li>2</li></a>
                                <a href=""><li>3</li></a>
                                <a href=""><li>4</li></a>
                                <a href=""><li>5</li></a>
                                <a href=""><li>></li></a>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</main>
<footer id="footer">
    <div id="foot">
        <p style="color: black;">Copyright © 1998-2020 KH Information Educational Institute All Right Reserved</p>
    </div>
</footer>
</body>
</html>