<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>관리자 메인 화면</title>
    <link rel="stylesheet" href="../../resources/css/Manager-list.css">
    <link rel="stylesheet" href="../../resources/css/Manager-DefaultCSS.css">
</head>
<body>
    <header>
        <div id="main-nav" class="clearfix">
            <div class="m-logo">
                <a href="#" class="m-logo-link"><img src="../../resources/images/logo.png" alt="로고"></a>
            </div>
            <div class="m-menu-nav">
                <div class="list">
                    <ul>
                        <li><a href="">관리자 메인</a></li>
                        <li><a href="">예약·결제 관리</a></li>
                        <li><a href="">게시판 관리</a></li>
                        <li><a href="">업체 관리</a></li>
                        <li><a href="">회원 관리</a></li>
                        <li><a href="">매출 관리</a></li>
                        <li><a href="">통계 관리</a></li>
                    </ul>
                </div>
                <div class="login-area">
                    <label class="login-name">관리자 님의 방문을 환영합니다.</label>
                    <div class="logoutBtn" onclick="logout()">로그아웃</div> 
                </div>
            </div>
        </div>
    </header>

    <main id="main">
        <div id="main-wrapper">
            <div class="main-content">
                <div class="sub-menu">
                    <div class="sub-list">
                        <p>예약 결제관리</p>
                        <ul>
                            <li><a href="">· 예약 현황</a></li>
                            <li><a href="">· 예약 취소 현황</a></li>
                        </ul>
                    </div>
                </div>
                <div class="content">
                    <div class="reservationTable">
                        <p style="font-size: 30px; font-weight: 500px; margin-bottom: 10px;">예약 현황</p>
                        <div class="searchPot"> </div>
                        <div class="filter-block">
                            <select name="filter" id="filter">
                                <option value="hotel">최신순</option>
                            </select>
                        </div>

                        <div class="reservationList">
                            <table class="detailedTable">
                                <th class="listTitle">취소 날짜</th>
                                <th class="listTitle">예약 날짜</th>
                                <th class="listTitle">체크인전n일</th>
                                <th class="listTitle">호텔명</th>
                                <th class="listTitle">고객명</th>
                                <th class="listTitle">결제 금액</th>
                                <th class="listTitle">환불 금액</th>
                                <th class="listTitle">환불처리 여부</th>
                                <th class="listTitle">처리일</th>

                                <tr class="listCal">
                                    <td>2020-08-31</td>
                                    <td>2020-08-20</td>
                                    <td>12</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                </tr>
                                <tr class="listCal">
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                </tr>
                                <tr class="listCal">
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                </tr>
                                <tr class="listCal">
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                </tr>
                                <tr class="listCal">
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                </tr>
                                <tr class="listCal">
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                </tr>
                                <tr class="listCal">
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                </tr>
                                
                                
                            </table>
                        </div>
                    </div>

                    <div class="empty">
                        <br><br><br>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer id="footer">
        <div id="foot">
            <p style="color: rgb(131, 131, 131);">Copyright © 1998-2020 KH Information Educational Institute All Right Reserved</p>
        </div>
    </footer>
</body>
</html>