#reviewContent{
    margin-top: 100px;
    margin-left: 9%;
    width: 70%;
}
#inquiry{
    margin-bottom: 30px;
}
#inquiry>p{
    margin-bottom: 20px;
    font-size: 23px;
    border-bottom: 1px solid black;
    padding-bottom: 15px;
}

#content{
    height: 600px;
    text-align: left;
    background-color: ghostwhite;
    margin-bottom: 10px;
}
#review{
    margin-top: 120px;
}
#review>label{
    font-size: 25px;
    border-bottom: 1px solid black;
    padding-bottom: 15px;
    width: 100%;
    margin-bottom: 30px;
}
#miniImg{
    border-radius: 100px;
    width: 25px;
    height: 25px;
    margin-bottom: 2px;
}

.writer{
    margin: 5px;
    padding-top: 10px;
    font-size: 15px;
    position: relative;
    bottom: 10px;
}
#content{
    background: ghostwhite;
    height: 50px;
}
#name{
    margin-bottom: 10px;
}
.comentbtn{
    border-width: 30px;
    margin-left: 10px;
    margin-top: 5px;
    float: right;
    background-color: #b5cef0;
    border-radius: 8px;
    border: 2px solid #b5cef0;
    font-size: 15px;
}
#answer{
    margin-top: 30px;
    margin-bottom: 50px;
    padding-bottom: 100px;
}

#answer>textarea{
    width: 100%;
    height: 100px;
    resize: none;

}
#answer>h3 {
    padding-bottom: 10px;
    padding-top: 10px;
}
#answerbtn{
    background-color: #b5cef0;
    color: black;
    font-size: 15px;
    width: 100px;
    height: 30px;
    border-radius: 8px;
    float:right;
    border: 0px solid;
    margin-top: 10px;


}
